.footer {

   width: 100%;
    background: white;
    box-shadow: 4px -4px 8px #d0d0d0, 4px 4px 8px #ffffff;
 
  }
  

  .footer-col h5 {
    color:black;
    padding: 10px 0px;
    padding-left: 30px;
  }
  
  .footer-col h5:hover {
    color: red;
    cursor: pointer;
  }
  
